body { background: #7c97ae; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 13px; display: flex; }
.block-product-0 { color: #77ff0e; font-size: 20px; margin-bottom: 5px; }
.block-router-1 { color: #20b82; font-size: 13px; margin-bottom: 5px; }
.block-order-2 { color: #eebad6; font-size: 20px; margin-bottom: 5px; }
.block-cluster-3 { color: #c76c26; font-size: 19px; margin-bottom: 5px; }
.block-order-4 { color: #794a4d; font-size: 19px; margin-bottom: 5px; }